.Top_book{
    width: 100%;
    justify-self:flex-end;
    .in_top_book{
        width: 85%;
        min-height: 90vh;
        background: #F7F7F7;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 10px 0px 0px 10px;
        margin-top: 195px;
        justify-self:flex-end;
    }
}